<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>

    <script src="https://kit.fontawesome.com/1d2a3e634f.js" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>boots</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="/static/x-icon">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/custom.css">

    <script src="/static/boots.js"></script>

</head>




<style>





#elmdr1{
    display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     align-content: space-around;
        
        justify-content: center;
      
       justify-content: space-between;
     }
 .card {
   border : 4px #000;
   position:relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 500px;
   width: 270px;
   border-radius: 40px;
   background-color: #ffffff;
   box-shadow: 2px 0 30px rgba(0, 0, 0, 0.3);
   overflow: hidden;            
 } 
 body:hover .card {
   filter: brightness(10px);
   transform: scale(0.9);
   opacity: 0.5;
   transition: 0.9s;
 } 
     
 body .card:hover{
   filter:brightness(100px);
   transform: scale(1);
   opacity: 1;
   transition: 0.9s;
 }
     
.ht{
   position:absolute;
   justify-content: center;
   top:0;
   margin:20px 0px 0px 20px;
   font-size:44px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing:15px;
   color:#fff;
   mix-blend-mode: difference;
 }
 .card .pt {
   position: absolute;
   left: 0;
   bottom: 0;
   margin: 0 20px 60px 20px;
   font-size: 16px;
   color: #ffffff;
   mix-blend-mode: difference;
 } 
 #circle {
   height: 100%;
   width: 100%;
   border-radius: 100%;
   background: linear-gradient(to right, #000000, #282828);
   margin-top: -90px;
   margin-left: 214px;
 }
 
 .contentx a {
   position: absolute;
   right: 0;
   bottom: 0;  
   color: #ffffff;
   font-size: 15px;
   border-radius: 60px;
   padding: 10px 40px;
   border-style: inset;
   background: linear-gradient(to right, #000000, #282828);
   border : 2px solid #000;
   margin:16px 17px;
   font-family: 'Archivo Black',sans-serif;
   cursor: pointer;
   transition: 0.3s;  
 
 }
 
 .contentx a:hover{
 
   transform: scale(1.2);
   opacity: 1;
   transition: 0.9s;
 }
 
 .card .circle .imgBx {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 1000;
     width: 100%;
     height: 100%;
     transition: .5s;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .card:hover .circle .imgBx {
     top: 0%;
     transform: translateY(-25%); 
 }
 
 .card .circle .imgBx img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) rotate(9deg);
     width: 270px;
 }  
    .LIM{
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
        
      text-align: center;
     
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
 }
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
   }
    100% {
      background-size: 300% 300%;
   }
 }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
   }
 }
   
    

</style>





<body>

     <!-- Start Main Top -->
     <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now 
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on bike accessories
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now 
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on bike accessories
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
						<option>MAD</option>
						<option>USD</option>
						<option>EUR</option>
					</select>
                    </div>
                   
                
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

 <!-- Start Main Top -->
 <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="/main"><img src="/static/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/main/more">More</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/main">About Us</a></li>
                    <li class="dropdown megamenu-fw">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Top</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="/main">Jackets</a></li>
                                                <li><a href="/main">Helmets</a></li>
                                                <li><a href="/main">Boots</a></li>
                                                <li><a href="/main">Suits</a></li>
                                                <li><a href="/main">Gloves</a></li>
                                                <li><a href="/main">Bike lube</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Bottom</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">New</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="/main"> </a></li>
                                                <li><a href="/main"> </a></li>
                                                <li><a href="/main"> </a></li>
                                                <li><a href="/main"> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Bike Accessories</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                                <li><a href="/main"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                </div>
                                <!-- end row -->
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item"><a class="nav-link" href="/main">Our Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="/main">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="#">
                    <i class="fa fa-shopping-bag"></i>
                        <span class="badge">3</span>
                </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li>
                        <a href="#" class="photo"><img src="/static/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">sh Bike libe</a></h6>
                        <p>1x - <span class="price">$800.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="/static/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">sh Helmet</a></h6>
                        <p>1x - <span class="price">$1000.00</span></p>
                    </li>
                    <li>
                        <a href="#" class="photo"><img src="/static/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">sh jacket</a></h6>
                        <p>1x - <span class="price">$2000.00</span></p>
                    </li>
                    <li class="total">
                        <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right"><strong>Total</strong>: $3800.00</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>AYY-cycling</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Bike lube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
<br>
<br>
<br>
<br>

<div id="elmdr1">

    
  
</div>
<br>
<br>
<br>
<br>

    <!-- end Cart  -->
    
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="/static/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About AYY-cycling</h4>
                            <p>We’re the specialists in bike PORDRCTS hire and self-guided tours on the Great Taste Trail.When you cycle with us,you can relax and enjoy the freedom of cycling independently, with all the knowledge and support you need
                                </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#"> About Us</a></li>
                                <li><a href="#"> Customer Service</a></li>
                                <li><a href="#"> Terms &amp; Conditions</a></li>
                                <li><a href="#"> Privacy Policy</a></li>
                   
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Ghandi street <br>hay essalam<br> CASABLANCA </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770"> +212 7 01 24 25 63</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="rabiiyahya1@gmail.com">ayy-cycling@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">AYY-cycling</a> Design By :
            <a href="https://html.design/">AYY-group</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/jquery.superslides.min.js"></script>
    <script src="/static/bootstrap-select.js"></script>
    <script src="/static/inewsticker.js"></script>
    <script src="/static/bootsnav.js"></script>
    <script src="/static/images-loded.min.js"></script>
    <script src="/static/isotope.min.js"></script>
    <script src="/static/owl.carousel.min.js"></script>
    <script src="/static/baguetteBox.min.js"></script>
    <script src="/static/form-validator.min.js"></script>
    <script src="/static/contact-form-script.js"></script>
    <script src="/static/custom.js"></script>
</body>

</html>